:root{
    --primary-color: #d393cd;
    --primary-color-darker: #8c5987;
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    height: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline:1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

form button:hover{
    background: var(--primary-color-darker);
}